/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    color: $clr-link;
    font-weight: bold;
    text-decoration: none;
    word-wrap: break-word;
    display: inline-block;
    position: relative;
    // &:hover{
    //     &::before{
    //         content: '#';
    //         position: absolute;            
    //         left: -12px;
    //         top: -5px;
    //         font-size: 12px;
    //         color: $clr-def-light;
    //     }
    // }
}

.button {
    padding: 0.4em 1em;
    border-radius: 1.2em;
    background-color: $clr-primary;
    color: $clr-def-lighter;
    text-shadow: none;
    text-indent: 0;
    font-size: $ft-sz-sm;
    margin: 0 0.2em 0.5em 0.2em;
    display: inline-block;

    &:visited {
        color: $clr-def-lighter;
    }

    &:hover {
        color: $clr-def-lighter;
        background-color: $clr-contrast;
    }

    &:visited:hover {
        color: $clr-def-lighter;
    }

    &.def {
        background-color: $clr-def;

        &:hover {
            color: $clr-def-lighter;
            background-color: $clr-contrast;
        }
    }
}
