/*
 * @Author: seven.zhang 
 * @Date: 2018-05-15 09:31:32 
 * @Last Modified by: seven.zhang
 * @Last Modified time: 2019-10-29 14:32:25
 */

/*------------------------------------*\
    #PAGE
\*------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{margin:0;padding:0;border:0}
body{
    background: $clr-page-back;
    color: $clr-def-darker;
    overflow-x: hidden;
    font-family: $ft-fm-def;
    font-weight: $ft-wt-def;
    font-size: $ft-sz-def;
}

.pageWrap{
    width: 100vw;
    height: 100vh;
}

.content-wrap{
    width: 960px;
    margin: 0 auto;
}

// 首页
.home-banner-warp{
    width: 100%;
    height: 666px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $clr-light;
    .swiper-container{
        width: 100%;
        height: 100%;
        .banner-img{
            display: block;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
