/*
 * @Author: seven.zhang 
 * @Date: 2018-05-31 10:33:36 
 * @Last Modified by: seven.zhang
 * @Last Modified time: 2023-01-28 13:10:01
 */
/*------------------------------------*\
    #common
\*------------------------------------*/

// ========  全局布局 start  ========
.pageWrap {
    width: 100%;
    min-width: 1200px;
    min-height: 100vh;
}

.content-wrap {
    width: 960px;
    margin: 0 auto;
}

nav.navbar {
    background: rgba($color: white, $alpha: 0.8);
    width: 100%;
    height: 100%;
    padding: 0 20px;
    @extend .flex_justify_between;

    .logo {
        font-size: 20px;
        color: $clr-nav-logo;
    }

    .description {
        color: $clr-def-dark;
        font-size: 12px;
        font-family: $ft-fm--cn;
    }

    .home {
        color: $clr-def-dark;
        font-weight: bold;
        display: none;
        padding: 0 8px;
        font-size: 12px;
        border-radius: 4px;
    }

    .tab {
        float: right;

        a.tab-box {
            display: inline-block;
            padding: 0 10px;
            color: $clr-def-dark;
            font-size: 16px;
            height: 60px;
            line-height: 60px;
            box-sizing: border-box;

            &.active {
                border-bottom: 2px solid $clr-primary;
            }
        }
    }
}

footer {
    width: 100%;
    height: 150px;
    background: $clr-def-darker;
    margin-top: 20px;
    color: #999;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .link-gzh {
        @extend .flex_column_center;
        margin-left: 40px;

        img {
            width: 60px;
            height: auto;
        }

        .text {
            font-size: 12px;
            color: $clr-def;
            text-align: center;
            line-height: 2;
            white-space: nowrap;
        }
    }

    .toTop {
        line-height: 1.5;
        margin-left: 40px;
    }
}

.scrollBox {
    width: 40px;
    height: 40px;
    background: $clr-contrast;
    color: white;
    font-size: 20px;
    @extend .flex_center;
    position: fixed;
    bottom: 180px;
    left: 50%;
    margin-left: 500px;
}

.followBox {
    @extend .flex_center;

    .item {
        font-size: 18px;
        color: #999;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
            color: #666;
        }
    }
}

// 版权
.copyright {
    border: 2px dashed #333;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    color: #666;
    margin: 30px auto;
    @extend .flex_align;

    a {
        color: $clr-contrast;
        font-weight: bold;
        display: inline-block;
        margin: 0 5px;
    }

    .con {
        margin-left: 15px;
    }
}

// ========  全局布局 end  ========

// ========  首页相关 start  ========
.home-banner-warp {
    width: 100%;
    height: 666px;
    position: relative;
    background: $clr-light;

    .swiper-container {
        width: 100%;
        height: 100%;

        .banner-img {
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: auto;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}

.home-navbar {
    width: 940px;
    height: 74px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    @extend .default-shadow;
}

.home-introduce {
    background: white;
    height: 320px;
    margin-top: -80px;
    position: relative;
    z-index: 100;
    display: flex;
    @extend .default-shadow;

    .introduce-box {
        flex: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        &.introduce-blog {
            align-items: center;
            padding: 20px;

            .avatar {
                flex-shrink: 0;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: $clr-def-light;
                border: 4px solid white;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .abname {
                color: #3f3f3f;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
            }

            .abdesc {
                color: #1abc9c;
                font-size: 14px;
            }

            .abtext {
                padding: 15px 35px;
                color: #9a9a9a;
                line-height: 26px;
                font-size: 14px;
                text-align: center;
            }

            .wb-follow {
                @extend .flex_center;
            }
        }

        &.introduce-category {
            overflow: hidden;
            border-left: 2px solid #ffea00;
            border-right: 2px solid #ffea00;

            .category-list {
                background: #ffea00;
                flex: 1;
                padding: 20px;
                display: block;
                transition: all .5s;
                display: flex;
                align-items: center;

                &:nth-child(2) {
                    background: #edda06;
                }

                &:hover {
                    transform: scale(1.1);
                    background: white;
                }

                .list-icon {
                    font-size: 50px;
                    margin-right: 15px;
                }

                .list-head {
                    font-size: 20px;
                    color: $clr-def-darker;
                }

                .list-num {
                    font-size: 14px;
                    color: $clr-def-dark;
                    line-height: 2;
                }

                .desc {
                    font-size: 14px;
                    color: $clr-def-dark;
                }
            }
        }

        &.introduce-link {
            padding: 20px;
            align-items: center;

            .link-gzh {
                width: 220px;

                img {
                    width: 100%;
                    height: auto;
                }

                .text {
                    font-size: 12px;
                    color: $clr-def;
                    text-align: center;
                    line-height: 2;
                }
            }
        }
    }
}

// ========  首页相关 end  ========

// ========  default页面 start  ========
.default-nav-wrap {
    height: 60px;

    .default-nav {
        width: 100%;
        height: 60px;
        background: $clr-def-lightest;
        position: fixed;
        top: 0;
        border-bottom: 3px solid $clr-primary;
        z-index: 10;
        @extend .flex_align;
        @extend .default-shadow;
    }
}

.default-con {
    @extend .content-wrap;
    @extend .con-min-height;
    @extend .default-shadow;
    padding: 30px 50px;
    margin-top: 20px;

    p>img {
        display: block;
        margin: 10px auto;
        max-width: 100%;
        max-height: 500px;
    }
}

// ========  default页面 end  ========


// ========  post布局相关 start  ========
.module_wrap {
    font-size: 0.9em;
    line-height: 2;
    color: $clr-text;

    // 二级标题
    h1 {
        font-size: $ft-sz-h1;
    }

    h2 {
        font-size: $ft-sz-h2;
    }

    h3 {
        font-size: $ft-sz-h3;
    }

    h4 {
        font-size: $ft-sz-h4;
    }

    h5 {
        font-size: $ft-sz-h5;
    }

    h2 {
        color: $clr-h2;
    }

    h3,
    h4,
    h5,
    h6 {
        color: $clr-h3-6;
    }

    h2 {
        margin: 20px -50px 10px -50px;
        padding: 20px 50px 0 50px;
        border-top: 2px dashed $clr-contrast-dark;
        text-shadow: 1px 1px $clr-def-light;
    }

    .emoji {
        display: inline-block;
        margin: 0;
    }

    p {
        // display: flex;
        // align-items: center;
        text-indent: 2em
    }

    ul>li {
        &:not(.postlist-tag) {
            list-style: circle;
            margin-left: 2em;
            color: $clr-dark;
            font-weight: bold;
        }

        p {
            text-indent: 0;
        }
    }

    blockquote {
        p {
            text-indent: 0;
        }
    }

    p>a {
        font-style: italic;
        color: $clr-contrast-darkest;
    }
}

.module-title {
    font-size: 1.2em;
    color: $clr-h1;
    height: 2.8em;
    line-height: 1.5;
    display: flex;
    align-items: center;
    border-bottom: 8px double $clr-dark;
    margin-bottom: 20px;

    .title-txt {
        flex: 1;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.postlist-wrap {
    // display: flex;
    // &.layout-block{
    //     flex-wrap: wrap;
    //     justify-content: space-between;
    //     .postlist-block{
    //         width: 46%;
    //     }
    // }
}

.tag-time {
    color: $clr-def;
    margin-right: 10px;
    font-size: 12px;
    white-space: nowrap;
    @extend .flex_align;
}

.postlist-block {
    margin-bottom: 20px;
    padding-bottom: 10px;
    // border-bottom: 1px dashed $clr-primary;

}

.postlist-title {
    font-size: 18px;
    font-weight: bold;
    color: $clr-link;
    line-height: 1.6;
    @extend .wavelink;

    &:hover {
        color: rgba($color: $clr-link, $alpha: 0.7);
    }
}

.postlist-subDes {
    color: $clr-def-light;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 10px;
    @extend .flex_align;
}

.postlist-tag-wrap {
    color: $clr-def-light;
    margin-bottom: 10px;
    @extend .flex_align;
}

.postlist-tag {
    @include base_btn($clr-contrast-darkest, small)
}

.postlist-excerpt {
    font-size: 14px;
    color: $clr-def-dark;
    line-height: 2;
    text-indent: 28px;
    background: rgba($color: $clr-lighter, $alpha: 0.4);
    padding: 10px;
    margin: 15px 0;
    overflow: hidden;
    word-break: break-all;

    .emoji {
        display: inline-block;
        margin: 0;
    }

    vertical-align: middle;
}

.pagination {
    padding: 20px 0;
    @extend .flex_center;

    .paginationItem {
        @include base_btn($clr-contrast-darkest);
    }

    .paginationItem-notallowed {
        @include base_btn($clr-def-dark, normal, false)
    }
}

// ========  post布局相关 end  ========


// ========  category布局相关 start  ========
.artical_wrap {
    display: flex;
    align-items: center;

    .time {
        font-size: 12px;
        color: $clr-def;
        margin-right: 10px;
    }
}

// ========  category布局相关 end  ========

.wavelink {
    text-decoration: none;
    position: relative;

    &:hover {
        @include svg-wave('f29653');

        &::before {
            content: '#';
            position: absolute;
            left: -12px;
            top: -5px;
            font-size: 12px;
            color: $clr-link;
        }
    }
}

blockquote {
    background-color: $clr-qt-back;
    margin: 20px 0;
    padding: 1em 1.5em;
    border-style: solid;
    border-color: $clr-qt-border;
    border-width: 0px 1px 0px 7px;
    color: $clr-qt;
    font-size: $ft-sz-qt;
    position: relative;
    box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.5);

    &::before {
        // display: block;
        // content: '“';
        // width: 20px;
        // padding: 0 10px 10px;
        // height: 30px;
        font-size: 2.6em;
        font-weight: bold;
        position: absolute;
        left: -1.2em;
        top: -0.5em;
        color: $clr-qt-border;
        // background-color: white;
        // box-shadow: 0px 0px 5px 1px rgba(200, 200, 200, 0.5);
        z-index: -10;
    }

    p {
        text-indent: 0;
        line-height: 1.75em;
        text-shadow: none;
        color: $clr-qt;
        font-family: $ft-fm-quote;
        font-size: $ft-sz-qt;
        word-wrap: break-word;
        font-weight: bold;

        a {
            font-style: italic;
            color: $clr-contrast-darkest;
        }
    }

}

.blockquote-desc {
    text-align: right;
    color: #d5d5d5;
    font-size: 0.7rem;
    margin-top: -10px;
}

.cn blockquote p {
    text-indent: 0;
}



code {
    //   border: dashed 1px $clr-primary;
    color: $clr-def-darker;
    padding: 2px 8px;
    margin: 5px 0;
    font-size: 0.9em;
    border-radius: 5px;
    font-family: $ft-fm-code;
    text-shadow: none;
    background-color: $clr-code-back;
    word-wrap: break-word;
    white-space: pre;
    line-height: 1.8;
}

pre>code {
    display: block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: $clr-code-back;
    overflow-x: auto;
    word-wrap: normal;
    white-space: inherit;
}

p>code {
    margin: 0 5px;
}

h1>code {
    color: $clr-h1;
}

h2>code,
h3>code,
h4>code,
h5>code,
h6>code {
    color: $clr-h3-6;
}

img {
    max-width: 100%;
}