/*
 * @Author: seven.zhang 
 * @Date: 2018-05-31 10:33:36 
 * @Last Modified by: seven.zhang
 * @Last Modified time: 2019-10-31 17:38:59
 */
/*------------------------------------*\
    #common
\*------------------------------------*/

// ========  全局布局 start  ========
.pageWrap{
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
}

.content-wrap{
    width: 960px;
    margin: 0 auto;
}
nav{
    background: rgba($color: white, $alpha: 0.8);
    width: 100%;
    height: 100%;
    padding: 0 20px;
    @extend .flex_justify_between;
    .logo{
        font-size: 20px;
        color: $clr-nav-logo;
    }
    .description{
        color: $clr-def-dark;
        font-size: 12px;
        font-family: $ft-fm--cn;
    }
    .tab{
        float:right;
        a.tab-box{
            display: inline-block;
            padding: 0 10px;
            color:$clr-def-dark;
            font-size: 16px;
            height: 60px;
            line-height: 60px;
            box-sizing: border-box;
            &.active{
                border-bottom: 2px solid $clr-primary;
            }
        }
    }
}
footer{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    line-height: 26px;
    .box_footer{
        border-right: 2px solid $clr-contrast-dark;
        display: inline-block;
        padding: 0 10px;
        color: $clr-contrast-dark;
        &:nth-child(1){
            border-left: 2px solid $clr-contrast-dark;
        }
    }
    .gzh_ewm{
        width: 100px;
        height: 100px;
        background: url("../images/gzh.jpg") 0 0 no-repeat;
        background-size: cover;
        position: absolute;
        top: -110px;
        left: 50%;
        display: none;
    }
}

.followBox{
    @extend .flex_center;
    .item{
        font-size: 18px;
        color: #999;
        cursor: pointer;
        margin-right: 10px;
        &:hover{
            color: #666;
        }
    }
}

// ========  全局布局 end  ========

// ========  首页相关 start  ========
.home-banner-warp{
    width: 100%;
    height: 666px;
    position: relative;
    background: $clr-light;
    .swiper-container{
        width: 100%;
        height: 100%;
        .banner-img{
            display: block;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.home-navbar{
    width: 940px;
    height: 74px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    @extend .default-shadow;
}

.home-introduce{
    background: white;
    height: 320px;
    margin-top: -80px;
    position: relative;
    z-index: 100;
    display: flex;
    @extend .default-shadow;

    .introduce-box{
        flex: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        &.introduce-blog{
            align-items: center;
            padding: 20px;
            .avatar{
                flex-shrink: 0;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: $clr-def-light;
                border: 4px solid white;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .abname{
                color: #3f3f3f;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
            }
            .abdesc{
                color: #1abc9c;
                font-size: 14px;
            }
            .abtext{
                padding: 15px 35px;
                color: #9a9a9a;
                line-height: 26px;
                font-size: 14px;
                text-align: center;
            }
            .wb-follow{
                @extend .flex_center;
            }
        }
        &.introduce-category{
            overflow: hidden;
            border-left: 2px solid #ffea00;
            border-right: 2px solid #ffea00;
            .category-list{
                background: #ffea00;
                flex: 1;
                padding: 20px;
                display: block;
                transition: all .5s;
                display: flex;
                align-items: center;
                &:nth-child(2){
                    background: #edda06;
                }
                &:hover{
                    transform:scale(1.1);
                    background: white;
                }

                .list-icon{
                    font-size: 50px;
                    margin-right: 15px;
                }
                .list-head{
                    font-size: 20px;
                    color: $clr-def-darker;
                }
                .list-num{
                    font-size: 14px;
                    color: $clr-def-dark;
                    line-height: 2;
                }
                .desc{
                    font-size: 14px;
                    color: $clr-def-dark;
                }
            }
        }
        &.introduce-link{
            padding: 20px;
            align-items: center;
            .link-gzh{
                width: 220px;
                img{
                    width: 100%;
                    height: auto;
                }
                .text{
                    font-size: 12px;
                    color: $clr-def;
                    text-align: center;
                    line-height: 2;
                }
            }
        }
    }
}




// ========  首页相关 end  ========

// ========  default页面 start  ========
.default-nav-wrap{
    height: 60px;
    .default-nav{
        width: 100%;
        height: 60px;
        background: $clr-def-lightest;
        position: fixed;
        top: 0;
        border-bottom: 3px solid $clr-primary;
        z-index: 10;
        @extend .flex_align;
        @extend .default-shadow;
    }
}

// ========  default页面 end  ========


// a {
//     color: $clr-link;
//     font-weight: bold;
//     text-decoration: none;
//     word-wrap: break-word;
//     display: inline-block;
//     position: relative;
//     &:hover{
//         @include svg-wave('f29653');
//         &::before{
//             content: '#';
//             position: absolute;            
//             left: -12px;
//             top: -5px;
//             font-size: 12px;
//             color: $clr-def-light;
//         }
//     }
// }
// #nav-top{
//     a{
//         &:hover{
//             background: none;
//             &::before{
//                 content: ''
//             }
//         }
//     }
// }

// header{
//     a{
//         color: white;
//         &:hover{
//             background: none;
//             &::before{
//                 content: ''
//             }
//         }
//     }
// }

// .button {
//     padding: 0.4em 1em;
//     border-radius: 1.2em;
//     background-color: $clr-primary;
//     color: $clr-def-lighter;
//     text-shadow: none;
//     text-indent: 0;
//     font-size: $ft-sz-sm;
//     margin: 0 0.2em 0.5em 0.2em;
//     display: inline-block;

//     &:visited {
//         color: $clr-def-lighter;
//     }

//     &:hover {
//         color: $clr-def-lighter;
//         background-color: $clr-contrast;
//     }

//     &:visited:hover {
//         color: $clr-def-lighter;
//     }

//     &.def {
//         background-color: $clr-def;

//         &:hover {
//             color: $clr-def-lighter;
//             background-color: $clr-contrast;
//         }
//     }
// }


blockquote {
    background-color: $clr-qt-back;
    margin: 20px 0;
    padding: 1em 1.5em;
    border-style: solid;
    border-color: $clr-primary;
    border-width: 0px 1px 0px 7px;
    color: $clr-qt;
    font-size: $ft-sz-qt;
    position: relative;

    &::before {
        // display: block;
        content: '“';
        // width: 20px;
        // padding: 0 10px 10px;
        // height: 30px;
        font-size: 60px;
        font-weight: bold;
        position: absolute;
        left: -77px;
        top: 0;
        // background-color: white;
        // box-shadow: 0px 0px 5px 1px rgba(200, 200, 200, 0.5);
        z-index: -10;
    }

    p {
        text-indent: 0;
        line-height: 1.75em;
        text-shadow: none;
        color: $clr-qt;
        font-family: $ft-fm-quote;
        font-size: $ft-sz-qt;
        word-wrap: break-word;
    }

}

.cn blockquote p {
  text-indent: 0;
}

pre > code {
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  background-color: $clr-code-back;
  overflow-x: auto;
  word-wrap: normal;
  white-space: inherit;
}

code {
  border: dashed 1px $clr-primary;
  color: $clr-dark;
  padding: 2px 8px;
  margin: 5px 0;
  font-size: 0.85em;
  border-radius: 5px;
  font-family: $ft-fm-code;
  text-shadow: none;
  background-color: $clr-code-back;
  word-wrap: break-word;
  white-space: pre;
}

h1>code {
  color: $clr-h1;
}

h2>code, h3>code, h4>code, h5>code, h6>code {
  color: $clr-h2-6;
}

//followme
.followMe{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: $clr-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon{
    width: 32px;
    height: 32px;
    background: url('../images/icon2.png') 0 0 no-repeat;
    background-size: 168px 142px;
    margin: 0 10px;
    &.db{
      background-position: 0 -108px;
    }
    // &.db:hover{
    //   background-position: 0 -36px;
    // }
    &.git{
      background-position: -32px -108px;
    }
    &.wb{
      width: 40px;
      background-position: -64px -108px;
    }
    &.js{
      height: 34px;
      background-position: -104px -108px;
    }
    &.zh{
      background-position: -136px -108px;
    }
  }
}


.postlist-title{
    font-size: 24px;
}
.postlist-time{
    color:$clr-def-light;
    font-size: 20px;
}
