/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  line-height: 26px;
  .box_footer{
    border-right: 2px solid $clr-contrast-dark;
    display: inline-block;
    padding: 0 10px;
    color: $clr-contrast-dark;
    &:nth-child(1){
      border-left: 2px solid $clr-contrast-dark;
    }
  }
  .gzh_ewm{
    width: 100px;
    height: 100px;
    background: url("../images/gzh.jpg") 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    top: -110px;
    left: 50%;
    display: none;
  }
}