/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer{
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}