/*------------------------------------*\
    #HEAD
\*------------------------------------*/

.nav-top-wrap{
    height: 60px;
}
#nav-top{
    width: 100%;
    height: 60px;
    background: $clr-def-lightest;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba($color: $clr-primary, $alpha: 0.5);
    border-bottom: 3px solid $clr-primary;
    z-index: 10;
    .logo{
        font-size: 20px;
        line-height: 60px;
        color:$clr-nav-logo;
    }
    .tab{
        float:right;
        a.tab-box{
            display: inline-block;
            padding: 0 10px;
            color:$clr-def-dark;
            font-size: 16px;
            height: 60px;
            line-height: 60px;
            box-sizing: border-box;
            &.active{
                border-bottom: 2px solid $clr-primary;
            }
        }
    }
}