/*------------------------------------*\
    #HEAD
\*------------------------------------*/

.nav-top-wrap{
  height: 60px;
}
#nav-top{
  width: 100%;
  height: 60px;
  background: $clr-def-lightest;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(136,136,136,.5);
  .logo{
    font-size: 20px;
    line-height: 60px;
    color:$clr-def-dark;
  }
  .tab{
    float:right;
    .tab-box{
      display: inline-block;
      padding: 0 10px;
      color:$clr-def-dark;
      font-size: 16px;
      height: 60px;
      line-height: 60px;
      box-sizing: border-box;
      &.active{
        border-bottom: 2px solid white;
      }
    }
  }
}

.head-wrap {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  background: $clr-primary;
  padding: 25px;
  color: $clr-def-lightest;
  h1{
    color: $clr-def-lightest;
  }
}