/*
 * @Author: seven.zhang 
 * @Date: 2018-05-18 13:45:48 
 * @Last Modified by: seven.zhang
 * @Last Modified time: 2019-11-06 15:07:29
 */
/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$clr-lighter:          #f0f8f4;  
$clr-light:            #9bc4b4; 
$clr-primary:          #1c7250; //主色调 
$clr-dark:             #034129;
$clr-contrast:         #f29653; //对比色调
$clr-contrast-dark:    #cb5a29;   
$clr-contrast-darkest: #8e3108;   
$clr-contrast-lighter: #efc9ad;   
$clr-def-lightest:     #FFF;
$clr-def-lighter:      #EFEFEF;
$clr-def-light:        #bbbbbb;
$clr-def:              #999;
$clr-def-dark:         #676972;
$clr-def-darker:       #333;
$clr-def-darkest:      #000;




// Page
$clr-page-back: $clr-def-lightest;
$clr-page-footer-back:$clr-def-darkest;



// Nav
$clr-nav-logo: $clr-def-dark;




// Links
$clr-link: $clr-primary;
$clr-link--hover: $clr-def;
$clr-link--active: $clr-def;
$clr-link--visited:$clr-dark;




// Text
$clr-text: $clr-def;




// Title
$clr-h1: $clr-primary;
$clr-h2-6: $clr-def-dark;




// Quotes
$clr-qt:            $clr-dark;
$clr-qt-back:       $clr-contrast;
$clr-license-back:  $clr-lighter;
$clr-code-back:     $clr-lighter;




// Buttons
$clr-btn:               $clr-def-lighter;
$clr-btn-back:          $clr-link;
$clr-btn-back--hover:   $clr-link--hover;
$clr-btn-back--visited: $clr-link--visited;