<!-- about me -->
<div class="module_wrap">
	<h1 class="m_title">About Me</h1>
	<!-- <p>程序员里，唱歌不一定是最好的！</p>
	<p>唱歌的人里，画画不一定是最好的！</p>
	<p>画画的人里，写文章不一定是最好的！</p>
	<p>写文章的人里，做编导不一定是最好的！</p>
	<p>做编导的人里，烘焙不一定是最好的！</p> -->
	<p>编码、音乐、看书、写字、画画、烘焙、旅行，反正对一切有意思的事情都有着极大兴趣！</p>
	<iframe width="250" height="80" class="share_self"  frameborder="0" scrolling="no"
	 src="http://widget.weibo.com/weiboshow/index.php?language=&width=250&height=80&fansRow=2&ptype=1&speed=0&skin=2&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1984078467&verifier=9e0cf85c&colors=fff,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
</div>