<!-- follew me -->
<div class="followBox">
    <i class="iconfont iconweixin item" title="扫描右侧二维码关注"></i>
    <a href="https://github.com/seven777777" target="_blank" class="iconfont icongithub item" title="GitHub"></a>
    <a href="https://blog.csdn.net/seven521m" target="_blank" class="iconfont iconCN_csdnnet item" title="CSDN"></a>
    <a href="mailto:se7en.zhang@foxmail.com" target="_blank" class="iconfont iconyouxiang item" title="Email me：se7en.zhang@foxmail.com"></a>
    <a href="http://weibo.com/SevenIsZhangmin" target="_blank" class="iconfont iconweibo item" title="微博"></a>
    <a href="http://zhihu.com/people/seven-1991" target="_blank" class="iconfont iconzhihu item" title="知乎"></a>
    <a href="{{ site.url }}{{site.baseurl}}/feed.xml" target="_blank" class="iconfont iconrss item" title="RSS订阅"></a>
</div>