    <div class="footer">
        <p>
            <a href="#" class="box_footer">Top</a>
            <a href="https://seven777777.github.io/myblog/" class="box_footer">Blog</a>
            <a href="https://github.com/seven777777" class="box_footer">Github</a>
            <a href="http://weibo.com/SevenIsZhangmin" class="box_footer">微博</a>
            <a href="http://zhihu.com/people/seven-1991" class="box_footer">知乎</a>
            <a id="gzh" style="position: relative;" href="javascript:;" class="box_footer">
                公众号
                <span class="gzh_ewm"></span>
            </a>
            <a href="mailto:se7en.zhang@foxmail.com" target="_blank" class="box_footer">Email</a>
        </p>
    </div>

    <script type="text/javascript" src="{{ site.url }}/myblog/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/myblog/js/common.js"></script>
</body>
</html>