<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=100%, initial-scale=1" />
	
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/default.min.css" />
</head>
<body>
<div class="head-wrap">
	<a class="head-logo" href="https://seven777777.github.io/myblog/" title="张小七的博客"></a>
	<h2 class="head-aboutme--tilte">About Me</h2>
	<div class="head-aboutme--con">
		<a class="head--icon zh" href="https://www.zhihu.com/people/seven-1991/activities" target="_blank" title="知乎"></a>
		<a class="head--icon js" href="http://www.jianshu.com/u/20e71e1ebd80" target="_blank" title="简书"></a>
		<a class="head--icon wb" href="http://weibo.com/1984078467/profile?topnav=1&wvr=6&is_all=1" target="_blank" title="微博"></a>
		<a class="head--icon github" href="https://github.com/seven777777" target="_blank" title="Github"></a>
		<a class="head--icon db" href="https://www.douban.com/people/se7777en/" target="_blank" title="豆瓣"></a>
	</div>
</div>