<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta charset="UTF-8">
	
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/myblog/css/default.min.css" />
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="nav-top-wrap">
	<div id="nav-top">
		<div class="content-wrap">
			<span class="logo">Seven's Blog</span>
			<span class="tab">
				<a class="tab-box" href="{{ site.url }}/myblog/">HOME</a>
				<a class="tab-box" href="{{ site.url }}/myblog/tags/">TAGS</a>
			</span>
		</div>
	</div>
</div>
<div class="head-wrap">
	<h1>hello world!<br>:)</h1>
</div>