<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="{{ site.imgPath }}/logo-ico.ico">
	<meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
    <!-- 自动将http的不安全请求升级为https -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/myblog/css/swiper.min-4.5.0.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/myblog/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/myblog/css/default.min.css" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a3ae588b667ff163b9e16cac2da90fe6";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>      
</head>
<body>
    <div class="pageWrap">