<nav class="navbar">
    <!-- <a class="logo" href="{{ site.url }}/myblog/">Seven's Blog</a> -->
    <a class="logo" href="{{ site.url }}/myblog/">搴芳拾梦 | <span class="fs_14">Seven's Blog</span></a>
    <!-- <span id="weather" class="weather sunny"></span> -->
    <!-- <span class="tab">
        <a class="tab-box" href="{{ site.url }}/myblog/">HOME</a>
        <a class="tab-box" href="{{ site.url }}/myblog/tags/">TAGS</a>
    </span> -->
    <p class="description">人生行乐耳，须富贵何时！</p>
    <a href="{{ site.url }}/myblog/" class="home">HOME</a>
</nav>