{% include header.html %}

<title>seven's blog</title>

<div class="home-navbar">
    {% include nav.html %}
</div>

<div class="home-banner-warp">
    <!-- 图片轮播 -->
    <div class="swiper-container" id="bannerSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="banner-img" target="_blank" href="http://www.mafengwo.cn/i/17724604.html"><img src="{{site.imgPath}}/banner/banner01.jpg"></a>
            </div>
            <div class="swiper-slide">
                <a class="banner-img" target="_blank" href="http://www.mafengwo.cn/i/17724604.html"><img src="{{site.imgPath}}/banner/banner02.jpg"></a>
            </div>
            <div class="swiper-slide">
                <a class="banner-img" target="_blank" href="http://www.mafengwo.cn/i/17724604.html"><img src="{{site.imgPath}}/banner/banner03.jpg"></a>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="content-wrap home-introduce">
    <div class="introduce-box introduce-blog">
        <div class="avatar">
            <img src="{{ site.baseurl}}/images/headpic.jpg" alt="seven的头像">
        </div>
        <div class="wb-follow">
            <p class="abname mr_10">seven | 张敏</p>
            <wb:follow-button uid="1984078467" type="red_1" width="62" height="26" ></wb:follow-button>
        </div>
        <p class="abdesc"><span class="iconfont iconxiazai19 mr_10">上海</span> 前端开发工程师</p>
        <p class="abtext">
            本博客为seven的个人博客。<br>
            主要用来做一些日常的技术分享，同时记录自己的生活。
        </p>
        {% include followMe.html %}
    </div>
    <div class="introduce-box introduce-category" data-name="{{ category | first }}">
        {% for category in site.categories %}
        <a class="category-list" data-name="{{ category | first }}" href="{{ site.baseurl}}/category/{{ category | first }}">
            <span class="list-icon iconfont"></span>
            <div>
                <p class="list-head">
                    <span class="title"></span> | {{ category | first }}
                </p>
                <p class="list-num">共计<span>{{ category | last | size }}</span>篇文章</p>
                <p class="desc"></p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="introduce-box introduce-link">
        <div class="link-gzh">
            <img src="{{ site.baseurl}}/images/gzh.jpg" alt="搴芳拾梦公众号"/>
            <p class="text">扫码订阅公众号<br>不定期推送本站优质非技术文章哦！</p>
        </div>
    </div>
</div>

<!-- <div class="content-wrap">
    {% include copyright.html %}
</div> -->

<div class="content-wrap mt30 p_20">
    {% include copyright.html %}
    <!-- <section>
        <h4>Recent Posts</h4>
        <ul id="recent_posts">
            {% for post in site.posts limit:3 %}
            <li class="post">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% for tag in site.tags %}
        <li class="post">
            <a href="">{{tag | first}}({{tag | last | size}} )</a>
        </li>
    {% endfor %} -->
    <h1 class="module-title">Blogs</h1>

    <div class="postlist-wrap layout-block">
        {% for post in paginator.posts %}
        <div class="postlist-block">
            <div class="flex_align">
                {% assign time = post.time %}
                <div class="timeago tag-time cn" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div>
                <a class="postlist-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </div>
            <ul class="postlist-subDes">
                <li><i class="iconfont iconrili mr_5"></i>{{ post.date | date: "%Y年%m月%d日" }}</li>
            </ul>
            <div class="postlist-tag-wrap">
                <i class="iconfont iconbiaoqian mr_5"></i>
                <ul class="flex_align">
                    {% for tag in post.tags %}
                    <li class="postlist-tag"><a href="{{ site.baseurl }}/list?tag={{tag}}">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <p class="postlist-excerpt">{{ post.excerpt }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="paginationItem">
                <i class="iconfont iconshangyiye"></i>
            </a>
        {% else %}
            <span class="paginationItem-notallowed"><i class="iconfont iconshangyiye"></i></span>
        {% endif %}
            <span class="paginationItem">{{ paginator.page }} / {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="paginationItem">
                <i class="iconfont iconxiayiye"></i>
            </a>
        {% else %}
            <span class="paginationItem-notallowed next"><i class="iconfont iconxiayiye"></i></span>
        {% endif %}
        <a href="{{ site.baseurl }}/list" class="paginationItem">All Posts</a>
    </div>
    
</div>


{% include footer.html %}

<script>
var mySwiper = new Swiper('#bannerSwiper', {
	autoplay: {
        delay:5000
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
})

// 初始化category列表文字显示
function initCategory(){
    // console.log(categoryConfig,$('.introduce-category .category-list').length)
    let categoryItem = $('.introduce-category .category-list')
    const n = categoryItem.length;
    const m = categoryConfig.length
    for(var i=0; i<n;i++){
        let _name = $(categoryItem[i]).data('name')
        for(var s=0; s<m;s++){
            if(_name == categoryConfig[s].name){
                $(categoryItem[i]).find('.list-icon').addClass(categoryConfig[s].icon)
                $(categoryItem[i]).find('.title').text(categoryConfig[s].title)
                $(categoryItem[i]).find('.desc').text(categoryConfig[s].desc)
                break;
            }
        }
    }
    
}
initCategory()

window.onload = function () {
    new Image().src = '{{site.imgPath}}/banner/banner01.jpg';
    new Image().src = '{{site.imgPath}}/banner/banner02.jpg';
    new Image().src = '{{site.imgPath}}/banner/banner03.jpg';
}
</script>
