{% include header.html %}

<title>seven's blog</title>

<div class="content-wrap">
    {% include aboutMe.html %}
    <div class="content-wrap mt30">
        <h1 class="m_title">Blogs</h1>
        {% for post in site.posts %}
        <div class="artical_wrap">
            <p class="postlist-time">{{ post.date | date_to_string }}</p>
            <a class="postlist-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <p class="artical_excerpt">{{ post.excerpt }}</p>
        </div>
        {% endfor %}
    </div>
    
</div>

{% include footer.html %}