{% include header.html %}

<title>seven's blog</title>

<div class="content-wrap">
    {% include aboutMe.html %}
    {% include followMe.html %}
    <div class="content-wrap mt30">
        <h1 class="m_title">Blogs</h1>
        {% for post in paginator.posts %}
        <div class="artical_wrap">
            <p class="postlist-time">{{ post.date | date: "%Y年%m月%d日" }}</p>
            <h3>
                <a class="postlist-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h3>
            <p>
                {% for tag in post.tags %}
                <a class="tag-btn">{{tag}}</a>
                {% endfor %}
            </p>
            <p class="artical_excerpt">{{ post.excerpt }}</p>
        </div>
        {% endfor %}

        <div class="pagination">
            {% if paginator.previous_page %}
              <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous" style="float:left;"><< Previous</a>
            {% else %}
              <!-- <span class="previous">Previous</span> -->
            {% endif %}
              <span class="page_number ">Page: {{ paginator.page }} / {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
              <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next" style="float:right;margin-right:30px;">Next >></a>
            {% else %}
              <!-- <span class="next ">Next</span> -->
            {% endif %}
        </div>
    </div>
    
</div>
{% include followMe.html %}

{% include footer.html %}