{% include header.html %}

<title>seven's blog</title>

<div class="home-banner-warp">
    <!-- 图片轮播 -->
    <div class="swiper-container" id="bannerSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a class="banner-img" href="javascript:;"><img src="{{site.imgPath}}/banner/banner01.jpg"></a>
            </div>
            <div class="swiper-slide">
                <a class="banner-img" href="javascript:;"><img src="{{site.imgPath}}/banner/banner02.jpg"></a>
            </div>
            <div class="swiper-slide">
                <a class="banner-img" href="javascript:;"><img src="{{site.imgPath}}/banner/banner03.jpg"></a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}

<script>
var mySwiper = new Swiper('#bannerSwiper', {
	autoplay: true,//可选选项，自动滑动
})

window.onload = function () {
    new Image().src = '{{site.imgPath}}/banner/banner01.jpg';
    // new Image().src = '{{site.imgPath}}/banner/banner02.jpg';
    // new Image().src = '{{site.imgPath}}/banner/banner03.jpg';
}
</script>
