{% include header.html %}

<title>seven's blog</title>

<div class="home-banner-warp">
    <!-- 图片轮播 -->
    <div class="swiper-container" id="bannerSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../images/banner/banner01.jpg"></div>
            <div class="swiper-slide"><img src="{{site.imgPath}}/banner/banner02.jpg"></div>
            <div class="swiper-slide"><img src="{{site.imgPath}}/banner/banner03.jpg"></div>
        </div>
    </div>
</div>

{% include footer.html %}

<script>
var mySwiper = new Swiper('#bannerSwiper', {
	autoplay: true,//可选选项，自动滑动
})
</script>
