{% include header.html %}

<title>seven's blog | {{ page.title }}</title>

<div class="default-nav-wrap">
    <div class="default-nav">
        <div class="content-wrap">
            {% include nav.html %}
        </div>
    </div>
</div>
<div class="default-con">
    <div class="module_wrap">
        <h1 class="module-title flex_justify_between">
            <span>{{ page.title }}</span>
            {% if page.time %}
            <div class="flex_align">
                <i class="iconfont iconjilu mr_5"></i>
                {% assign time = page.time %}
                <div class="tag-time mr_5">{{ time | date: "%Y年%m月%d日" }}</div>
                <!-- <div class="tag-time timeago cn mr_5" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div> -->
                <i class="iconfont iconliulan mr_5"></i>
                <span class="tag-time" id="busuanzi_value_page_pv">0</span>
            </div>
            {% endif %}
        </h1>

        <div class="postlist-tag-wrap">
            <i class="iconfont iconbiaoqian mr_5"></i>
            <ul class="flex_align">
                {% for tag in page.tags %}
                <li class="postlist-tag"><a href="{{ site.baseurl }}/list?tag={{tag}}">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div>

        {{ content }}

        <!-- ························Gitalk评论系统·························· -->
        <!-- <div id="gitalk-container"></div>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
        <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> 
        <script>
            var gitalk  = new Gitalk ({
                id: location.pathname,   // Ensure uniqueness and length less than 50
                clientID: '6140c3098c5e95fcf6a9',
                clientSecret: '4c660ac4037d51cfd8edbccadac4c8cb8a611425',
                repo: 'seven777777.github.io/myblog',
                owner: 'seven',
                admin: 'seven',
                distractionFreeMode: false  // Facebook-like distraction free mode
            })
            gitalk.render('gitalk-container')
        </script>  -->

        <!-- ························Gitment评论系统·························· -->
        <div id="gitmentContainer"></div>
        <!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
        <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
        <script src="https://billts.site/js/gitment.js"></script>

        <script>
            var gitment = new Gitment({
                owner: 'seven777777',
                repo: 'seven777777.github.io/myblog',
                oauth: {
                    client_id: '6140c3098c5e95fcf6a9',
                    client_secret: '4c660ac4037d51cfd8edbccadac4c8cb8a611425',
                },
            });
            gitment.render('gitmentContainer');
        </script>

        {% include copyright.html %}
    </div>
</div>

{% include footer.html %}
