{% include header.html %}

<title>seven's blog | {{ page.title }}</title>

<div class="default-nav-wrap">
    <div class="default-nav">
        <div class="content-wrap">
            {% include nav.html %}
        </div>
    </div>
</div>
<div class="default-con">
    <div class="module_wrap">
        <h1 class="module-title flex_justify_between">
            <span>{{ page.title }}</span>
            {% if page.time %}
            <div class="flex_align">
                <i class="iconfont iconjilu mr_5"></i>
                {% assign time = page.time %}
                <div class="tag-time mr_5">{{ time | date: "%Y年%m月%d日" }}</div>
                <!-- <div class="tag-time timeago cn mr_5" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div> -->
                <i class="iconfont iconliulan mr_5"></i>
                <span class="tag-time" id="busuanzi_value_page_pv">0</span>
            </div>
            {% endif %}
        </h1>

        <div class="postlist-tag-wrap">
            <i class="iconfont iconbiaoqian mr_5"></i>
            <ul class="flex_align">
                {% for tag in page.tags %}
                <li class="postlist-tag"><a href="{{ site.baseurl }}/list?tag={{tag}}">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div>

        {{ content }}

        {% include copyright.html %}
    </div>
</div>

{% include footer.html %}
